body,
html {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

.container .card {
  padding: 10px;
  margin: 120px auto;
  background-color: hsla(213, 19%, 18%, 0.5);
  border-radius: 8%;
}

.container .card svg {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
}

.card .card-subtitle {
  font-weight: 700;
  margin-top: 35px;
}

.card .card-text {
  color: hsl(217, 12%, 63%);
}

.card #rating {
  color: white;
  display: flex;
  flex: row;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
}

.one,
.two,
.three,
.four,
.five {
  background-color: hsl(213, 19%, 18%);
  width: 60px;
  height: 60px;
  line-height: 45px;
  text-align: center;
  margin-left: 10px;
}
