body,
html {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

/* card */
section .card {
  padding: 10px;
  margin: 120px auto;
  background-color: hsla(213, 19%, 18%, 0.5);
  border-radius: 8%;
}

/* card svg */
section .card .container-svg svg {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
}

/* card-subtitle */
.card .card-subtitle {
  font-weight: 700;
  margin-top: 35px;
}

/* card-text */
.card .card-text {
  color: hsl(217, 12%, 63%);
}

/* card rating */
.card #rating {
  color: white;
  display: flex;
  flex: row;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
}

.one,
.two,
.three,
.four,
.five {
  background-color: hsl(213, 19%, 18%);
  width: 60px;
  height: 60px;
  line-height: 45px;
  text-align: center;
  margin-left: 10px;
}

/* button submit */
.card button.btn {
  background-color: hsl(25, 97%, 53%);
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.card button.btn:active {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.card button.btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

/* media queries */
@media (max-width: 767.98px) {
  section {
    padding: 20px;
    box-sizing: border-box;
  }

  section .card {
    width: 380px;
    border-radius: 4%;
  }

  section .card .container-svg svg {
    margin-left: -10px;
    margin-bottom: -20px;
    transform: scale(0.8);
  }

  section .card-subtitle {
    font-size: 20px;
  }

  section .card-text {
    font-size: 14px;
    margin-bottom: -5px;
  }

  .one,
  .two,
  .three,
  .four,
  .five {
    background-color: hsl(213, 19%, 18%);
    width: 45px;
    height: 45px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
  }

  .card button.btn {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card button.btn:focus {
    background-color: white;
    color: hsl(25, 97%, 53%);
  }
}
